body {
    min-height: 2000%;
}


.jumbotron  {

    padding-top: 6rem ;
    background-color: #a4a4a4;
}

#projek {
    background-color: #a4a4a4;
}

#about {
    background-color: #000000;
}

#navbar {
    background-color: #000000;
}

section {
    padding-top: 1rem
}

#contact {
    background-color: #000000;
}